# Dependencias
node_modules/
.pnp/
.pnp.js

# Producción
dist/
build/
out/

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Testing
coverage/

# Archivos temporales
.tmp/
.temp/

# Editor/IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db